h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #FFD700;
  font-style: btn-outline-dark;
}

body {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
